
/Steag.Business/obj
/Steag.Business/bin
/Steag.Data/obj
/Steag.Data/bin
/Steag.Database/obj
/Steag.Database/sql
/Steag.Framework/obj
/Steag.Framework/bin
/Steag.Web.Base/obj
/Steag.Web.Base/bin
/Steag.Web.Presentation.Security/obj
/Steag.Web.Presentation.Security/bin/Steag.Framework.pdb
/Steag.Web.Presentation.Security/bin/Steag.Web.Base.dll
/Steag.Web.Presentation.Security/bin/Steag.Web.Base.pdb
/Steag.Web.Presentation.Security/bin/Steag.Web.Presentation.Security.dll
/Steag.Web.Presentation.Security/bin/Steag.Web.Presentation.Security.pdb
/Steag.Web.Presentation.Security/bin/Steag.Business.dll
/Steag.Web.Presentation.Security/bin/Steag.Business.pdb
/Steag.Web.Presentation.Security/bin/Steag.Data.dll
/Steag.Web.Presentation.Security/bin/Steag.Data.pdb
/Steag.Web.Presentation.Security/bin/Steag.Framework.dll
/Unit.Tests/Test.Steag.Business/obj
/Unit.Tests/Test.Steag.Business/bin
/Unit.Tests/Test.Steag.Data/obj
/Unit.Tests/Test.Steag.Data/bin
/Unit.Tests/Test.Steag.Framework/obj
/Unit.Tests/Test.Steag.Framework/bin
/Unit.Tests/Test.Steag.Web.Base/obj
/Unit.Tests/Test.Steag.Web.Base/bin
/Unit.Tests/Test.Steag.Web.Presentation.Security/obj
/Unit.Tests/Test.Steag.Web.Presentation.Security/bin
/bin/Steag.Business.dll
/bin/Steag.Data.dll
/bin/Steag.Framework.dll
/bin/Steag.Web.Base.dll
/bin/Steag.Business.pdb
/bin/Steag.Data.pdb
/bin/Steag.Framework.pdb
/bin/Steag.Web.Base.pdb
/1Solution/TestResults
/1Solution/_ReSharper.004.Steag.Web.Base
/1Solution/004.Steag.Web.Base.1.2.dotCover
/1Solution/005.Steag.Web.Presentation.Security.1.2.dotCover
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/AspFileDataCache.dat
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/BuildScriptCache/.crc
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/BuildScriptCache/.version
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/BuildScriptCache/0/4c601f2b.dat
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/ConditionalNames/.crc
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/ConditionalNames/.version
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/ConditionalNames/0/4c601f2b.dat
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JSTest/.crc
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JSTest/.version
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JSTest/9/a80d23b.dat
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JavaScriptCache/.crc
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JavaScriptCache/.version
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JavaScriptCache/1/47f041b.dat
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JavaScriptCache/4/6dac290e.dat
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JavaScriptCache/6/3194f606.dat
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JbPdbInfo/2d6a9efa7d82e987cc119fadda8554c09af8ee6e
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JbPdbInfo/3bbf1025a2e10617f021b169b9d4fccdcbf5dde7
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JbPdbInfo/3fa359939c6516c88a44a1d28b4af40f1b7655b7
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JbPdbInfo/4329a64cac646fd612bf6ceaf596f2acdbe04b93
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JbPdbInfo/6290aa42adad14f0fd3b7765086eab9dd50899dd
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JbPdbInfo/73fcc4adbd570ea8b28ca0fc3064bfb99ddb2846
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JbPdbInfo/94e70973db38cbf39aa85b03999823ab3f146158
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JbPdbInfo/cd1e8f9c88ec4e1931f165d629bec85ce250b54c
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JbPdbInfo/cfe894c6ab86a97f08f7787ea828302a19f0609d
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JbPdbInfo/dda333dcd8deb6cc639285ca3a68b811f1eb9a4d
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/JbPdbInfo/ed71e8e7faea4af80d675f5270d4c94a178de45f
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/MVC/.crc
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/MVC/.version
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/ModuleIds.xml
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/NamedArguments/.crc
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/NamedArguments/.version
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/NamedArguments/0/4c601f2b.dat
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/PersistenIdIndex.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/RecentItems/RecentFiles.dat
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/Resources/.crc
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/Resources/.version
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/SymbolCache.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/TagPrefixes/.crc
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/TagPrefixes/.version
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/TagPrefixes/4/254bfb60.dat
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/TodoItems/.crc
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/TodoItems/.version
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/TodoItems/6/3194f606.dat
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/WebSymbols/.crc
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/WebSymbols/.version
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/WebSymbols/4/254bfb60.dat
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/WordIndex/.crc
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/WordIndex/.version
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/WordIndex/0/4c601f2b.dat
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Accessibility.xml/88C087D2.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.Build.Framework.4.0.0.0.Nullness.Generated.xml/94363C24.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.Build.Framework.xml/B1211D02.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.Build.Tasks.v4.0.4.0.0.0.Nullness.Generated.xml/CCCC0FE4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.Build.Tasks.v4.0.xml/D0D97272.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.Build.Utilities.v4.0.4.0.0.0.Nullness.Generated.xml/E27CE424.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.Build.Utilities.v4.0.xml/F257AC8A.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.CSharp.4.0.0.0.Nullness.Generated.xml/47A918C4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.CSharp.xml/52F85A1D.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.JScript.10.0.0.0.Nullness.Generated.xml/20590911.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.JScript.xml/6BD458A3.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.Transactions.Bridge.4.0.0.0.Nullness.Generated.xml/6FC0CFA4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.Transactions.Bridge.xml/CA341E40.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.VisualBasic.10.0.0.0.Contracts.xml/0DBBB121.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.VisualBasic.10.0.0.0.Nullness.Generated.xml/40E599D1.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.VisualBasic.10.0.0.0.Pure.xml/F2E62CD2.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.VisualBasic.Activities.Compiler.10.0.0.0.Nullness.Generated.xml/091234D1.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.VisualBasic.xml/5EAC1448.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.VisualC.xml/F652E411.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml/4B429457.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml/4DBEB6FA.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/Microsoft.Web.Infrastructure.xml/A633D4EC.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/SMDiagnostics.4.0.0.0.Nullness.Generated.xml/C77EB924.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.4.0.0.0.Contracts.xml/07845DD4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.4.0.0.0.Nullness.Generated.xml/6B56B484.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.4.0.0.0.Pure.xml/DE77D247.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Activities.4.0.0.0.Nullness.Generated.xml/F8F15EE4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Activities.DurableInstancing.4.0.0.0.Nullness.Generated.xml/27FB04A4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Activities.DurableInstancing.xml/C1942077.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Activities.xml/538BA89C.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.ComponentModel.DataAnnotations.4.0.0.0.Nullness.Generated.xml/547533E4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.ComponentModel.DataAnnotations.I18n.xml/E15B095F.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.ComponentModel.DataAnnotations.xml/5F93661D.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Configuration.4.0.0.0.Contracts.xml/FB4CED54.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Configuration.4.0.0.0.Nullness.Generated.xml/0C78B404.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Configuration.4.0.0.0.Pure.xml/7748B1C7.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Configuration.Install.4.0.0.0.Contracts.xml/86EDEE74.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Configuration.Install.4.0.0.0.Nullness.Generated.xml/44FAAA64.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Configuration.Install.xml/4197A788.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Core.4.0.0.0.Contracts.xml/0B7C8174.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Core.4.0.0.0.Nullness.Generated.xml/DA9E9D64.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Core.4.0.0.0.Pure.xml/717C2A67.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Core.LinqTunnel.xml/D9B819C3.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Core.Nullness.Manual.xml/693BFE35.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Core.xml/F613CD2C.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.4.0.0.0.Contracts.xml/6B3912F4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.4.0.0.0.Nullness.Generated.xml/AF56DEE4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.4.0.0.0.Pure.xml/CB37CBE7.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.DataSetExtensions.4.0.0.0.Nullness.Generated.xml/E2D9EC64.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.DataSetExtensions.I18n.xml/FA1E61DF.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.DataSetExtensions.xml/F93DB151.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.Entity.4.0.0.0.Nullness.Generated.xml/CAA94524.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.Entity.xml/31BB3492.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.I18n.xml/4BA2745F.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.Linq.4.0.0.0.Nullness.Generated.xml/90DB83C4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.Linq.Attributes.xml/50E54BDE.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.Linq.I18n.xml/8338C47F.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.Linq.xml/3C2632F3.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.OracleClient.4.0.0.0.Nullness.Generated.xml/8CC4BA64.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.OracleClient.xml/F6BE6126.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.Services.Client.4.0.0.0.Nullness.Generated.xml/EB44D264.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.Services.Client.xml/0547F470.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.Services.Design.4.0.0.0.Nullness.Generated.xml/D1A23EE4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.Services.Design.xml/F917653B.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.SqlXml.4.0.0.0.Nullness.Generated.xml/E38BEDE4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.SqlXml.xml/5070A7FE.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Data.xml/23380007.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Deployment.4.0.0.0.Nullness.Generated.xml/E885D1E4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Deployment.xml/EA94258E.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Design.4.0.0.0.Nullness.Generated.xml/8B6FCEA4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Design.xml/A103E185.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.DirectoryServices.4.0.0.0.Nullness.Generated.xml/3FE19F64.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.DirectoryServices.Protocols.4.0.0.0.Nullness.Generated.xml/F41D33C4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.DirectoryServices.Protocols.xml/9569C5BB.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.DirectoryServices.xml/C6DB3430.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Drawing.4.0.0.0.Contracts.xml/0E821C94.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Drawing.4.0.0.0.Nullness.Generated.xml/E84B8C44.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Drawing.4.0.0.0.Pure.xml/E41F5B87.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Drawing.Design.4.0.0.0.Nullness.Generated.xml/4E594AA4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Drawing.Design.xml/E381B14B.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Drawing.xml/DFC4C8F7.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Dynamic.4.0.0.0.Nullness.Generated.xml/026A7DA4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.EnterpriseServices.4.0.0.0.Nullness.Generated.xml/BBE7A364.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.EnterpriseServices.xml/D976A4EC.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.I18n.xml/7E6153BF.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.IdentityModel.4.0.0.0.Nullness.Generated.xml/1106F9A4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.IdentityModel.Selectors.4.0.0.0.Nullness.Generated.xml/F4221764.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.IdentityModel.Selectors.xml/FBF646E6.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.IdentityModel.xml/B640054E.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Management.4.0.0.0.Nullness.Generated.xml/686EF964.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Management.xml/B2E86CE4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Messaging.4.0.0.0.Nullness.Generated.xml/E4DDBA44.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Messaging.xml/55ED0AB9.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Nullness.Manual.xml/637B83D5.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Numerics.4.0.0.0.Nullness.Generated.xml/EDBD3FE4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Numerics.xml/B6B47E0F.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Runtime.Caching.4.0.0.0.Nullness.Generated.xml/5DDF73E4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Runtime.Caching.xml/D1A47BCC.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Runtime.DurableInstancing.4.0.0.0.Nullness.Generated.xml/00BE7424.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Runtime.Remoting.4.0.0.0.Nullness.Generated.xml/00C899A4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Runtime.Remoting.xml/56A58304.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Runtime.Serialization.4.0.0.0.Nullness.Generated.xml/E04CA004.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Runtime.Serialization.Attributes.xml/19E5989E.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Runtime.Serialization.Formatters.Soap.2.0.0.0.Contracts.xml/02345952.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Runtime.Serialization.Formatters.Soap.4.0.0.0.Contracts.xml/55A979D4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Runtime.Serialization.Formatters.Soap.4.0.0.0.Nullness.Generated.xml/9AFB5084.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Runtime.Serialization.Formatters.Soap.xml/5CB1EC55.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Runtime.Serialization.xml/1287E84B.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Security.4.0.0.0.Contracts.xml/515FC174.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Security.4.0.0.0.Nullness.Generated.xml/1429DD64.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Security.4.0.0.0.Pure.xml/6C576A67.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Security.xml/87F08301.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.ServiceModel.4.0.0.0.Nullness.Generated.xml/3B100624.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.ServiceModel.Activation.4.0.0.0.Nullness.Generated.xml/BC111F84.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.ServiceModel.Activation.xml/CFF4EC5F.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.ServiceModel.Activities.4.0.0.0.Nullness.Generated.xml/23633864.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.ServiceModel.Activities.xml/BC53FD80.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.ServiceModel.Web.4.0.0.0.Nullness.Generated.xml/54450C24.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.ServiceModel.Web.xml/D8443DFB.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.ServiceModel.xml/E4A6C365.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.ServiceProcess.4.0.0.0.Nullness.Generated.xml/2295F6E4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.ServiceProcess.xml/25F8B321.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Transactions.4.0.0.0.Nullness.Generated.xml/04CB2664.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Transactions.xml/72142900.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.4.0.0.0.Contracts.xml/B50C4594.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.4.0.0.0.Nullness.Generated.xml/3B53D544.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.4.0.0.0.Pure.xml/686BE487.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.ApplicationServices.4.0.0.0.Nullness.Generated.xml/CDA1B004.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.ApplicationServices.xml/700D1AFD.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.Attributes.xml/33EA9D5E.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.DynamicData.4.0.0.0.Nullness.Generated.xml/83110124.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.DynamicData.xml/2F91696C.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.Entity.4.0.0.0.Nullness.Generated.xml/B585CB64.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.Entity.xml/890A2A32.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.Extensions.4.0.0.0.Nullness.Generated.xml/3AD965A4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.Extensions.xml/0AF5DFC3.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.I18n.xml/C6FEF5FF.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.RegularExpressions.xml/234252F2.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.Services.4.0.0.0.Nullness.Generated.xml/EC463C64.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.Services.Attributes.xml/C138893E.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.Services.xml/9E9ED327.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.WebPages.Deployment.xml/ABBD73FD.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Web.xml/9CC1AA67.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Windows.Forms.4.0.0.0.Contracts.xml/1D054254.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Windows.Forms.4.0.0.0.Nullness.Generated.xml/1F60A904.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Windows.Forms.4.0.0.0.Pure.xml/CA37E6C7.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Windows.Forms.I18n.xml/B794E83F.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Windows.Forms.Manual.xml/BA60B1CB.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Windows.Forms.xml/90E683E3.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Workflow.Activities.4.0.0.0.Nullness.Generated.xml/DFEA4944.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Workflow.Activities.xml/F0F8A381.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Workflow.ComponentModel.4.0.0.0.Nullness.Generated.xml/CC0C3F24.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Workflow.ComponentModel.xml/5D69CA8A.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Workflow.Runtime.4.0.0.0.Nullness.Generated.xml/71CB69E4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Workflow.Runtime.xml/26C1A9F6.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.WorkflowServices.4.0.0.0.Nullness.Generated.xml/69656B64.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.WorkflowServices.xml/B1369B2A.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xaml.4.0.0.0.Nullness.Generated.xml/97DBE3A4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xaml.Hosting.4.0.0.0.Nullness.Generated.xml/DBDFBC24.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xaml.Hosting.xml/54B3F8E1.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xaml.xml/67D55BAF.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xml.4.0.0.0.Contracts.xml/CF0743B4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xml.4.0.0.0.Nullness.Generated.xml/A0DF46A4.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xml.4.0.0.0.Pure.xml/E9628527.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xml.Attributes.xml/F9C6A9FE.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xml.I18n.xml/E864609F.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xml.Linq.4.0.0.0.Contracts.xml/582FCE74.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xml.Linq.4.0.0.0.Nullness.Generated.xml/4E588A64.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xml.Linq.4.0.0.0.Pure.xml/F0AB5767.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xml.Linq.I18n.xml/7A027FDF.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xml.Linq.xml/7427FD3A.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.Xml.xml/C4590EEE.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.configuration.xml/879C8D27.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.xml/07464C3F.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/System.xml/8A6D51F9.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/mscorlib.4.0.0.0.Contracts.xml/BA0B7454.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/mscorlib.4.0.0.0.Interfaces.Nullness.Generated.xml/E943BD5C.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/mscorlib.4.0.0.0.Nullness.Generated.xml/D37F1B04.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/mscorlib.4.0.0.0.Pure.xml/0C16D8C7.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/mscorlib.I18n.xml/0AA1DA3F.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/mscorlib.Nullness.Manual.xml/A44AFA55.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/mscorlib.ValueFlow.xml/D2DAC228.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/mscorlib.xml/48F8C2BF.bin
/1Solution/_ReSharper.005.Steag.Web.Presentation.Security/XmlIndex/mscorlib.xml/8B5A35BB.bin
/CodeGeneration/output/Models.cs
/CodeGeneration/output/Schema.xml
/Steag.Web.Presentation.Security/bin/Microsoft.CSharp.dll
/Steag.Web.Presentation.Security/bin/System.Configuration.dll
/Steag.Web.Presentation.Security/bin/System.Data.DataSetExtensions.dll
/Steag.Web.Presentation.Security/bin/System.Data.dll
/Steag.Web.Presentation.Security/bin/System.Drawing.dll
/Steag.Web.Presentation.Security/bin/System.EnterpriseServices.dll
/Steag.Web.Presentation.Security/bin/System.Web.ApplicationServices.dll
/Steag.Web.Presentation.Security/bin/System.Web.DynamicData.dll
/Steag.Web.Presentation.Security/bin/System.Web.Entity.dll
/Steag.Web.Presentation.Security/bin/System.Web.Extensions.dll
/Steag.Web.Presentation.Security/bin/System.Web.Services.dll
/Steag.Web.Presentation.Security/bin/System.Web.dll
/Steag.Web.Presentation.Security/bin/System.Xml.Linq.dll
/Steag.Web.Presentation.Security/bin/System.Xml.dll
/Steag.Web.Presentation.Security/bin/System.dll