
/Steag.Business/obj
/Steag.Business/bin
/Steag.Data/obj
/Steag.Data/bin
/Steag.Database/obj
/Steag.Database/sql
/Steag.Framework/obj
/Steag.Framework/bin
/Steag.Web.Base/obj
/Steag.Web.Base/bin
/Steag.Web.Presentation.Security/obj
/Steag.Web.Presentation.Security/bin/Steag.Framework.pdb
/Steag.Web.Presentation.Security/bin/Steag.Web.Base.dll
/Steag.Web.Presentation.Security/bin/Steag.Web.Base.pdb
/Steag.Web.Presentation.Security/bin/Steag.Web.Presentation.Security.dll
/Steag.Web.Presentation.Security/bin/Steag.Web.Presentation.Security.pdb
/Steag.Web.Presentation.Security/bin/Steag.Business.dll
/Steag.Web.Presentation.Security/bin/Steag.Business.pdb
/Steag.Web.Presentation.Security/bin/Steag.Data.dll
/Steag.Web.Presentation.Security/bin/Steag.Data.pdb
/Steag.Web.Presentation.Security/bin/Steag.Framework.dll
/Unit.Tests/Test.Steag.Business/obj
/Unit.Tests/Test.Steag.Business/bin
/Unit.Tests/Test.Steag.Data/obj
/Unit.Tests/Test.Steag.Data/bin
/Unit.Tests/Test.Steag.Framework/obj
/Unit.Tests/Test.Steag.Framework/bin
/Unit.Tests/Test.Steag.Web.Base/obj
/Unit.Tests/Test.Steag.Web.Base/bin
/Unit.Tests/Test.Steag.Web.Presentation.Security/obj
/Unit.Tests/Test.Steag.Web.Presentation.Security/bin
/bin/Steag.Business.dll
/bin/Steag.Data.dll
/bin/Steag.Framework.dll
/bin/Steag.Web.Base.dll
/bin/Steag.Business.pdb
/bin/Steag.Data.pdb
/bin/Steag.Framework.pdb
/bin/Steag.Web.Base.pdb
/1Solution/TestResults
/1Solution/_ReSharper.004.Steag.Web.Base