#loginControl-wrapper
{
    width: 290px;
}
#loginControl-div
{
    width: 100%;    
    height: auto;
    border: 1px solid #b2c2ca;
    padding: 10px 10px 10px 10px;   
}
#loginControl-header
{
    background: url('images/login-header-background.png');
    width: 100%;  
    padding: 8px 10px 2px 10px;
    border: 1px solid #b2c2ca; 
    border-bottom: 0px;  
}
#loginControl-header span
{
    font-size: 14px;
    font-weight: bold;
    color: #323030;
}
.login-row-height
{
    height: 30px;    
}