#loginControl-wrapper
{
    width: 290px;
}
#loginControl-div
{
    width: 100%;    
    height: auto;
    border: 1px solid #b2c2ca;
    padding: 10px 10px 10px 10px;   
}
#loginControl-header
{
    background: #b2c2ca;
    width: 100%;  
    padding: 5px 10px 5px 10px;
    border: 1px solid #b2c2ca;   
}
#loginControl-header span
{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.login-row-height
{
    height: 30px;    
}