<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Steag.Security" type="Steag.Framework.Configuration.SteagConfiguration, Steag.Framework " allowDefinition="Everywhere" requirePermission="false" />
  </configSections>

  <Steag.Security ConnectionStringKey="Steag.Security.Development" />
  
  <connectionStrings>
    <add name="Steag.Security.Development" connectionString="" providerName="System.Data.SqlClient"/>
    <add name="Steag.Security.Test" connectionString="" providerName="System.Data.SqlClient"/>
    <add name="Steag.Security.Production" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
</configuration>
