<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Steag.Security" type="Steag.Framework.Configuration.SteagConfiguration, Steag.Framework " allowDefinition="Everywhere" requirePermission="false" />
  </configSections>
  <Steag.Security ConnectionStringKey="Steag.Security.Development" MappingSource="D:\dan\project\steag\src\Steag.Web.Presentation.Security\Configuration\datasource-schema.xml" LogFileFolder="C:\Logs" />
  <connectionStrings>
    <add name="Steag.Security.Development" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Steag.Security.DEVELOPMENT;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    <add name="Steag.Security.Test" connectionString="" providerName="System.Data.SqlClient" />
    <add name="Steag.Security.Production" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
</configuration>