<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Steag.Security" type="Steag.Framework.Configuration.SteagConfiguration, Steag.Framework " allowDefinition="Everywhere" requirePermission="false" />
  </configSections>

  <Steag.Security
    ConnectionStringKey="Steag.Security.Development"
    MappingSource="D:\1Projects\Microsoft.NET\steag\Steag.Web.Presentation.Security\Configuration\datasource-schema.xml"
    LogFileFolder="C:\Logs" />

  <connectionStrings>
    <add name="Steag.Security.Development" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Steag.Security.DEVELOPMENT;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
    <add name="Steag.Security.Test" connectionString="" providerName="System.Data.SqlClient"/>
    <add name="Steag.Security.Production" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <add name="SqlClient Data Provider"
       invariant="System.Data.SqlClient"
       description=".Net Framework Data Provider for SqlServer"
       type="System.Data.SqlClient.SqlClientFactory, System.Data" />
    </DbProviderFactories>
  </system.data>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
